/* ==========================================================================
   mycustom skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #292842 !default;
$muted-text-color: #292842 !default;
$primary-color: #522264 !default;
$border-color: mix(#fff, #292842, 75%) !default;
$footer-background-color: #661a6c !default;
$link-color: #008287 !default;
$masthead-link-color: #3b2562 !default;
$masthead-link-color-hover: #3b2562 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__title{
  color: #0c6c7b;
}
