/* ==========================================================================
   mycustom skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #090833 !default;
$muted-text-color: #0f2433 !default;
$primary-color: #3e1057 !default;
$border-color: mix(#fff, #090833, 75%) !default;
$footer-background-color: #381057 !default;
$link-color: #0c5e50 !default;
$masthead-link-color: #341769 !default;
$masthead-link-color-hover: #341769 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__title{
  color: #0d473d;
}
