/* ==========================================================================
   mycustom skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #100f36 !default;
$muted-text-color: #100f36 !default;
$primary-color: #341769 !default;
$border-color: mix(#fff, #100f36, 75%) !default;
$footer-background-color: #411e82 !default;
$link-color: #09ab8d !default;
$masthead-link-color: #341769 !default;
$masthead-link-color-hover: #341769 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__title{
  color: #106e5d;
}
